<!DOCTYPE html>
<html>
  <head>
    <title>GestionCommerciale</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Canard Dodu</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Catalogue des produits", produits_path %></li>
              <li><%= link_to "Votre panier" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span10"><%= yield %></div>
        <div class="span2">
          <h2>Canard Dodu</h2>
          Depuis 1978, la société Canard Dodu s'impose comme un r&eacute;fence en matière de.....
        </div>
      </div>
    </div>

</body>
</html>
